In [63]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

episodes_character = pd.read_csv("../data/charactersepisode.csv")
lines = pd.read_csv("../data/lines.csv")

In [64]:
episodes_character.head()

   episode_id   complete_name first_name last_name
0           0   Michael Scott    Michael     Scott
1           0  Dwight Schrute     Dwight   Schrute
2           0     Jim Halpert        Jim   Halpert
3           0      Pam Beesly        Pam    Beesly
4           0     Ryan Howard       Ryan    Howard

In [65]:
len(episodes_character["episode_id"].unique())

186

In [66]:
df_group = episodes_character.groupby(['first_name']).size().reset_index(name='counter')
df_group = df_group.sort_values(by = "counter", ascending=False)
df_group["percentage"] = (df_group["counter"] / len(episodes_character["episode_id"].unique())) * 100
df_group = df_group.astype({"percentage": int})
df_group = df_group.set_index('first_name')

In [67]:
df_group.head()

            counter  percentage
first_name
Jim             186         100
Stanley         186         100
Pam             186         100
Dwight          186         100
Kevin           186         100

In [68]:
df_group.loc[["Dwight"], ["percentage"]].values[0][0]

100

In [69]:
def episodios(personaje):
    df_group = episodes_character.groupby(['first_name']).size().reset_index(name='counter')
    df_group = df_group.sort_values(by = "counter", ascending=False)
    df_group["percentage"] = (df_group["counter"] / len(episodes_character["episode_id"].unique())) * 100
    df_group = df_group.astype({"percentage": int})
    df_group = df_group.set_index('first_name')
    numero = df_group.loc[[f"{personaje}"], ["percentage"]].values[0][0]
    return f"{personaje} has appeared in {numero} percent of the episodes ü§ó"

In [70]:
episodios("Michael")

'Michael has appeared in 73 percent of the episodes ü§ó'

In [111]:
def season(personaje):
    df_distinct = lines.drop_duplicates(subset=['season', 'episode', 'scene','first_name'])
    num_distinct = len(lines.drop_duplicates(subset=['season', 'episode', 'scene']))
    df_group2 = df_distinct.groupby(['first_name']).size().reset_index(name='counter')
    df_group2["ai"] = (df_group2["counter"] / num_distinct) * 100
    df_group2 = df_group2.astype({"ai": int})
    df_group2 = df_group2.set_index('first_name')
    numero = df_group2.loc[[f"{personaje}"], ["ai"]].values[0][0]
    return f"{personaje} has appeared in {numero} percent of the scenes üçå"

In [112]:
season("Michael")

'Michael has appeared in 34 percent of the scenes üçå'

In [127]:
def lines_episode(personaje):    
    df_lines = lines.groupby('first_name').size().reset_index(name='count')
    df_lines["percentage"] = (df_lines["count"] / len(episodes_character["episode_id"].unique()))
    df_lines = df_lines.astype({"percentage": int})
    df_lines = df_lines.set_index('first_name')
    numero = df_lines.loc[[f"{personaje}"], ["percentage"]].values[0][0]
    return f"{personaje} has said an average of {numero} sentences per episode üôå"

In [129]:
lines_episode("Jim")

'Jim has said an average of 35 sentences per episode üôå'

In [134]:
def get_character_info(personaje):
    df_group = episodes_character.groupby(['first_name']).size().reset_index(name='counter')
    df_group["percentage"] = (df_group["counter"] / len(episodes_character["episode_id"].unique())) * 100
    df_group = df_group.set_index('first_name')
    episode_percentage = int(df_group.loc[[f"{personaje}"], ["percentage"]].values[0][0])
    
    df_distinct = lines.drop_duplicates(subset=['season', 'episode', 'scene','first_name'])
    num_distinct = len(lines.drop_duplicates(subset=['season', 'episode', 'scene']))
    df_group2 = df_distinct.groupby(['first_name']).size().reset_index(name='counter')
    df_group2["ai"] = (df_group2["counter"] / num_distinct) * 100
    df_group2 = df_group2.set_index('first_name')
    scene_percentage = int(df_group2.loc[[f"{personaje}"], ["ai"]].values[0][0])
    
    df_lines = lines.groupby('first_name').size().reset_index(name='count')
    df_lines["percentage"] = (df_lines["count"] / len(episodes_character["episode_id"].unique()))
    df_lines = df_lines.set_index('first_name')
    average_lines = int(df_lines.loc[[f"{personaje}"], ["percentage"]].values[0][0])
    
    return f"{personaje} has appeared in {episode_percentage}% of episodes, {scene_percentage}% of scenes, and has an average of {average_lines} lines per episode üçå"

In [135]:
get_character_info("Michael")

'Michael has appeared in 73% of episodes, 34% of scenes, and has an average of 62 lines per episode üçå'